<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.applabbs.trackmyroutes">

    <!-- User Permissions   -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Setup for GooglePlay filters  -->
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="true" />

    <!-- Setup for many screen types   -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Design.NoActionBar"
        tools:replace="android:label"
        tools:targetApi="31">

        <activity
            android:name="br.applabbs.trackmyroutes.presentation.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".presentation.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>


    </application>

</manifest>